@media screen and (max-width:576px){
    * {
        margin: 0;
        padding: 0;
    }
    .nav-container{
        flex-direction: column;
    }
    .nav-menu{
        flex-direction: column;
        margin:1em;
    }
    .nav-logo{
        margin-top: 3em;
    }
    .header-container{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .header-img img{
        background-image: none;
    }
    /* second container */
    .second-container{
       flex-direction: column;
       text-align: center;
    }
    .second-container-img img{
        width: 100%;
    }
    .second-container-text{
        margin-top: 50px;
    }
    .online-heading{
        margin-top: 50px;
    }
    .online-game-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    br{
        display: none;
    }
}
