@media screen and (max-width:576px) {
    * {
        margin: 0;
        padding: 0;
    }

    .nav-container {
        flex-direction: column;
    }

    .nav-menu {
        flex-direction: column;
        margin: 1em;
    }

    .nav-logo {
        margin-top: 3em;
    }

    .header-container {
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .header-img img {
        background-image: none;
    }

    /* second container */
    .second-container {
        flex-direction: column;
        text-align: center;
    }

    .second-container-img img {
        width: 100%;
    }

    .second-container-text {
        margin-top: 50px;
    }

    .online-heading {
        margin-top: 50px;
    }

    .online-game-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    br {
        display: none;
    }

    /* instantly section */
    .instantly-container {
        flex-direction: column;
        margin-top: 20px;
    }

    .instantly-heading {
        margin-left: 0;
    }

    .instantly-heading-2 {
        margin-left: 0;
        margin-bottom: 5px;
    }

    .instantly-img {
        width: 340px;
        margin-left: 60px;
    }

    .overlay-img {
        width: 170px;
        margin-left: 60px;
    }
    .instantly-img-container{
       margin-top: 40px;
    }
    .instantly-para {
        text-align:center;
        
    }
    /* icon container */
    .icon-container{
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(2,1fr);
        padding: 0;
        
    }

}